// 工作时间进度样式
&[data-widget-type="working_time_progress"] {
    color: var(--dms-sidebar-stacked-cards-top-color);
    background-color: var(--dms-sidebar-stacked-cards-top-bg);
    & >.dms-sidebar-progress-widget-bar {
        border-radius: var(--dms-sidebar-stacked-cards-radius);
    }
}