/* 小部件侧边栏设置面板样式 */
.dms-widget-sidebar-settings {
    /* 小部件列表容器样式 */
    & .dms-widget-list-container {
        margin-bottom: 1rem;
        /* 单个小部件设置项样式 */
        & > .dms-widget-item-setting {
            padding: .5rem 1rem;
            border-radius: .5rem;
            display: flex;
            /* 鼠标悬停效果 */
            &:hover {
                background-color: var(--background-modifier-hover);
            }
            /* 设置项标题样式 */
            & > span:first-child {
                flex-grow: 1;
            }
        }
    }
}

/* 小部件编辑模态框样式 */
.dms-widget-edit-modal {
    /* 隐藏禁用状态的自定义类型设置项 */
    .setting-item.dms-widget-custom-type.is-disabled {
        display: none;
    }
    .setting-item.dms-widget-code {
        flex-wrap: wrap;
        & > .setting-item-control {
                width: 100%;
                margin: 1rem 0;
                & > textarea {
                    width: 100%;
                    min-height: 8rem;
                }
            ;
        }
    }
}

/* 小部件侧边栏内容区域样式 */
.view-content.dms-widget-sidebar {
    /** 默认样式 */
    &[data-widget-sidebar-style="default"] {
        /* 小部件容器样式：添加底部边框和间距 */
        & > .dms-widget-container {
            padding-bottom: .5rem;
            border-bottom: 1px dashed var(--background-modifier-hover);
            margin-bottom: .5rem;
            /** 小部件标题样式 */
            &[data-widget-type="header_1"] > h1 {
                text-align: center;
                font-size: 2.6rem;
                margin: .8em 0;
                font-weight: bold;
                font-family: serif;
                color: rgba(62, 50, 50);
            }
            /** 数字时钟样式 */
            &[data-widget-type="digital_clock"] {
                text-align: center;
                font-size: 3.8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                & > .dms-widget-digital-clock-separator.blink {
                    opacity: 0;
                }
                & > .dms-widget-digital-clock-minute {
                    opacity: .6;
                }
            }
        }
    }
    /** 卡片样式 */
    &[data-widget-sidebar-style="card"] {
        --dms-sidebar-background: var(--background-primary);
        --dms-sidebar-text: var(--text-normal);
        --dms-sidebar-card-in-shadow: inset 3px 3px 24px rgba(0, 0, 0, 0.12);
        --dms-sidebar-card-out-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
        --dms-sidebar-card-padding: 1rem;
        --dms-sidebar-card-radius: 1rem;
        /* 小部件容器样式：添加底部边框和间距 */
        & > .dms-widget-container {
            border-radius: var(--dms-sidebar-card-radius);
            padding: var(--dms-sidebar-card-padding);
            margin-bottom: .8rem;
            background-color: var(--dms-sidebar-background);
            box-shadow: var(--dms-sidebar-card-in-shadow),
                        var(--dms-sidebar-card-out-shadow);
            color: var(--dms-sidebar-text);
            font-family: "PingFang SC", "Microsoft YaHei", "Noto Sans SC", "Source Han Sans SC", "WenQuanYi Micro Hei", sans-serif;
            /** 小部件标题样式 */
            &[data-widget-type="header_1"] > h1 {
                text-align: center;
                font-size: 2.6rem;
                margin: .2em 0;
                font-weight: bold;
                color: var(--corlor-orange);
            }
            /** 数字时钟样式 */
            &[data-widget-type="digital_clock"] {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                --dms-siderbar-clock-font-size: calc(var(--dms-sidebar-width) / 4);
                & > .dms-digital-clock-digit {
                    aspect-ratio: 1/1.6;
                    width: 18%;
                    flex-grow: 1;
                    font-size: clamp(1.6rem, var(--dms-siderbar-clock-font-size), 20vw);
                    line-height: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    font-weight: bold;
                    /** 分隔符样式 */
                    &:nth-child(3) {
                        width: 12%;
                        transition: opacity .5s ease-in-out;
                        opacity: .6;
                        &.blink {
                            opacity: .2;
                        }
                    }
                    /** 小钟样式 */
                    &:nth-child(1),
                    &:nth-child(2) {
                        color: var(--color-blue);
                    }
                    /** 分钟样式 */
                    &:nth-child(4),
                    &:nth-child(5) {
                        opacity:.6;
                    }
                }
            }
            /** 时光进度样式 */
            &[data-widget-type="time_progress"] {
                & > .dms-time-progress-item {
                    display: flex;
                    gap: 1rem;
                    opacity: .8;
                    & > .dms-time-progress-label {
                        width: 3rem;
                    }
                    & >.dms-time-progress-bar {
                        flex-grow: 1;
                    }
                    & >.dms-time-progress-percent {
                        opacity: .8;
                        width: 3rem;
                    }
                }
            }
            /** 年度点阵进度样式 */
            &[data-widget-type="year_points"] {
                & > .dms-sidebar-year-points-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 0.5rem;
                    & > .dms-sidebar-year-points-year {
                        font-size: 2.4rem;
                        padding: .3rem 0;
                        font-weight: bold;
                        opacity: 0.8;
                    }
                    & > .dms-sidebar-year-points-progress {
                        font-size: 1.6rem;
                        padding: 1.1rem 0 .3rem;
                        opacity: 0.6;
                    }
                }
                & > .dms-sidebar-year-points-grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(.6rem, 1fr));
                    gap: 0.2rem;
                    & > .dms-sidebar-year-points-day {
                        aspect-ratio: 1/1;
                        border-radius: 0.2rem;
                        background-color: var(--interactive-accent);
                        opacity: 0.6;
                        transition: all 0.2s ease;
                        &.dms-sidebar-year-points-past {
                            background-color: var(--background-modifier-border);
                            opacity: 0.3;
                        }
                        &.dms-sidebar-year-points-today {
                            background-color: var(--color-yellow);
                            opacity: 1;
                        }
                    }
                }
            }

            /** 倒数日样式 */
            &[data-widget-type="countdown_day"] {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                & > .dms-sidebar-countdown-day-message {
                    font-size: 1rem;
                    opacity: 0.8;
                }
                & > .dms-sidebar-countdown-day-days {
                    font-size: 1.5rem;
                    font-weight: bold;
                    line-height: calc(var(--dms-sidebar-width) / 3);
                    & >.dms-sidebar-countdown-day-days-count {
                        font-size: calc(var(--dms-sidebar-width) / 3);
                        color: var(--color-red);
                        &[data-status="future"] {
                            color: var(--color-blue);
                        }
                        &[data-status="past"] {
                            color: var(--color-orange);
                        }
                    }
                }
            }
            /** 周历样式 */
            &[data-widget-type="week_calendar"] {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                & > .dms-sidebar-week-calendar-row {
                    display: flex;
                    justify-content: space-between;
                    & > .dms-sidebar-week-calendar-weekday {
                        width: calc(100% / 7);
                        text-align: center;
                        opacity: 0.8;
                        font-size: 0.9em;
                    }
                    & > .dms-sidebar-week-calendar-date {
                        width: calc(100% / 7);
                        text-align: center;
                        padding: 0.3rem;
                        border-radius: 0.3rem;
                        cursor: pointer;
                        &:hover {
                            background-color: var(--background-modifier-hover);
                        }
                        &.dms-sidebar-week-calendar-current {
                            background-color: var(--interactive-accent);
                            color: var(--text-on-accent);
                        }
                    }
                    & span:first-child,
                    & span:last-child {
                        color: var(--color-red);
                        &.dms-sidebar-week-calendar-current {
                            background-color: var(--color-red);
                        }
                    }
                }
            }
            /** 月历样式 */
            &[data-widget-type="month_calendar"] {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                & > .dms-sidebar-month-calendar-header {
                    text-align: center;
                    font-weight: bold;
                    font-size: 1.2em;
                    margin-bottom: 0.3rem;
                }
                & > .dms-sidebar-month-calendar-weekdays {
                    display: flex;
                    justify-content: space-between;
                    & > .dms-sidebar-month-calendar-weekday {
                        width: calc(100% / 7);
                        text-align: center;
                        opacity: 0.8;
                        font-size: 0.9em;
                    }
                }
                & > .dms-sidebar-month-calendar-grid {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;
                    & > .dms-sidebar-month-calendar-row {
                        display: flex;
                        justify-content: space-between;
                        & > .dms-sidebar-month-calendar-date {
                            width: calc(100% / 7);
                            text-align: center;
                            padding: 0.2rem;
                            border-radius: 0.3rem;
                            cursor: pointer;
                            aspect-ratio: 1/1;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                background-color: var(--background-modifier-hover);
                            }
                            &.dms-sidebar-month-calendar-current {
                                background-color: var(--interactive-accent);
                                color: var(--text-on-accent);
                            }
                        }
                        & > span:first-child,
                        & > span:nth-child(7) {
                            color: var(--color-red);
                            &.dms-sidebar-month-calendar-current {
                                background-color: var(--color-red);
                            }
                        }
                    }
                }
            }
            /** 图片样式 */
            &[data-widget-type="image"] {
                box-shadow: var(--dms-sidebar-card-out-shadow);
                padding: 0;
                overflow: hidden;
                & > img {
                    display: block;
                    width: 100%;
                }
            }
            /** 快速导航样式 */
            &[data-widget-type="quick_nav"] {
                display: flex;
                gap: 0.8rem;
                flex-wrap: wrap;
                box-shadow: none;
                background: none;
                margin-bottom: 0;
                padding: 0;
                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-items: center;
                    line-height: 2.4rem;
                    min-width: 2.4rem;
                    text-align: center;
                    padding:0 0.4rem;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-size: 1.6rem;
                    border-radius: .2rem;
                    margin-bottom: .8rem;
                    background-color: var(--dms-sidebar-background);
                    box-shadow: var(--dms-sidebar-card-in-shadow),
                                var(--dms-sidebar-card-out-shadow);
                    &.dms-sidebar-quick-nav-item-img,
                    &.dms-sidebar-quick-nav-item-icon {
                        padding: .4rem;
                        & > svg,
                        & > img {
                            display: block;
                            height: 1.6rem;
                            width: auto;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}